<h1>Editar afiliado</h1>

<form action="/affiliates/{{affiliate.id}}/edit" method="POST">

    <div>
        <label>Nombre:</label>
        <input type="text" name="firstName" value="{{affiliate.firstName}}" required>
    </div>

    <div>
        <label>Apellido:</label>
        <input type="text" name="lastName" value="{{affiliate.lastName}}" required>
    </div>

    <div>
        <label>Email:</label>
        <input type="email" name="email" value="{{affiliate.email}}" required>
    </div>

    <div>
        <label>Tipo afiliación:</label>

        <select name="membershipType">

            <option value="silver">
                Silver
            </option>

            <option value="gold">
                Gold
            </option>

            <option value="platinum">
                Platinum
            </option>

        </select>
    </div>

    <button type="submit">
        Guardar cambios
    </button>

</form>

<a href="/affiliates/{{affiliate.id}}">
    Volver al detalle
</a>