<h1>Detalle del afiliado</h1>

<p><strong>ID:</strong> {{affiliate.id}}</p>
<p><strong>Nombre:</strong> {{affiliate.firstName}}</p>
<p><strong>Apellido:</strong> {{affiliate.lastName}}</p>
<p><strong>Email:</strong> {{affiliate.email}}</p>
<p><strong>Afiliación:</strong> {{affiliate.membershipType}}</p>
<br><br>
<hr>

<h2>Simulador de descuento</h2>

<form action="/affiliates/{{affiliate.id}}/simulate" method="POST">

    <label>Monto tratamiento:</label>

    <input type="number" name="amount" required>

    <button type="submit">
        Calcular
    </button>

</form>

<a href="/affiliates/{{affiliate.id}}/edit">
    Editar afiliado
</a>
<form action="/affiliates/{{affiliate.id}}/delete" method="POST">
    <button type="submit">Eliminar afiliado</button>
</form>

<a href="/affiliates">Volver al listado</a>

{{#if finalPrice}}

<p>
    Precio final con descuento:
    <strong>${{finalPrice}}</strong>
</p>

{{/if}}